In [10]:
#Exercise 1
import numpy as np
import pandas as pd

#Create a DataFrame from a NumPy array
data_array = np.array([
    ["Blue", [1, 2], 1],
    ["Red", [3, 4], 2.2],
    ["Pink", [5, 6], 3.3],
    ["Grey", [7, 8], 4.4],
    ["Black", [9, 10], 5.5]
], dtype="object")


df_from_array=pd.DataFrame(data_array, index=[1,3,5, 7, 9] , columns=["color", "list", "number"])


print(df_from_array)

#Create a DataFrame from a  a Pandas Series
color=pd.Series(["Blue", "Red", "Pink", "Gred", "Black"], index=[1, 3, 5, 7, 9])
lists= pd.Series([[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]],  index=[1, 3, 5, 7, 9])
number= pd.Series([1.1, 2.2, 3.3, 4.4, 5.5],  index=[1, 3, 5, 7, 9])
dict_series = {
    "color": color,
    "list": lists,
    "number": number
}
df_from_series=pd.DataFrame(dict_series)
#print(df_from_series, "\n")

print("\nTypes for every column\n")
print(type(color))
print(type(lists))
print(type(number))
print("\nTypes of first value of each column (from NumPy array):")
for column in df_from_array.columns:
    print(type(df_from_array[column].iloc[0]))

   color     list number
1   Blue   [1, 2]      1
3    Red   [3, 4]    2.2
5   Pink   [5, 6]    3.3
7   Grey   [7, 8]    4.4
9  Black  [9, 10]    5.5

Types for every column

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

Types of first value of each column (from NumPy array):
<class 'str'>
<class 'list'>
<class 'int'>

In [8]:
#Exercise 2
import numpy as np
import pandas as pd

url = "https://assets.01-edu.org/ai-branch/piscine-ai/household_power_consumption.txt"
data = pd.read_csv(url, sep=';', low_memory=False)

# 1 Delete the columns Time, Sub_metering_2 and Sub_metering_3
data.drop(columns=['Time', 'Sub_metering_2', 'Sub_metering_3'], inplace=True)


#2- Set Date as index
print("\n2\n")
# Convertir la colonne Date en datetime
data['Date'] = pd.to_datetime(data['Date'], format='%d/%m/%Y')
# Définir la colonne Date comme index
data.set_index('Date', inplace=True)
print(data.head().index)

#3- Create a function that takes as input the DataFrame with the data set and returns a DataFrame with updated types:
print("\n3\n")
def update_types(df):
    # Convert relevant columns to float64
    float_columns = [
        'Global_active_power',
        'Global_reactive_power',
        'Voltage',
        'Global_intensity',
        'Sub_metering_1'
    ]
    
    for column in df.columns:
        df[column] = pd.to_numeric(df[column], errors='coerce')  # Convert to float, coercing errors
    
    return df

update_types(data)
print(data.dtypes)

#4- Use describe to have an overview on the data set
print("\n4\n")
print("\nDescribe: ")
data.describe()

#5- Delete the rows with missing values
print("\n5\n")
data.dropna(inplace= True)
#print("apres ", data.isna().sum())


# 6
print("\n6\n")
#print("avant \n", data.head(1))
data.loc[:,'Sub_metering_1'] = (data['Sub_metering_1'] + 1) * 0.06
#print("\naprest \n", data.head(1))

#7 
print("\n7\n")
filtered_data=data[(data.index >= '2008-12-27') & (data['Voltage'] >= 242)]
print(filtered_data.head().to_markdown())
print("Taille", len(filtered_data))

#8
print("\n8\n")
print(data.iloc[88887]) 

#9
print("\n9\n")
max_date = data['Global_active_power'].idxmax()
print("Date avec Global_active_power maximal :", max_date)

#10
print("\n10\n")
sorted_df = data.sort_values(by=['Global_active_power', 'Voltage'], ascending=[False, True])
print(sorted_df.tail().to_markdown())

#10
print("\n11\n")
daily_mean = data.groupby(data.index.date)['Global_active_power'].mean()
print("\nMoyenne journalière de Global_active_power :")
print(daily_mean)

2

DatetimeIndex(['2006-12-16', '2006-12-16', '2006-12-16', '2006-12-16',
               '2006-12-16'],
              dtype='datetime64[ns]', name='Date', freq=None)

3

Global_active_power      float64
Global_reactive_power    float64
Voltage                  float64
Global_intensity         float64
Sub_metering_1           float64
dtype: object

4


Describe:

5


6


7

| Date                |   Global_active_power |   Global_reactive_power |   Voltage |   Global_intensity |   Sub_metering_1 |
|:--------------------|----------------------:|------------------------:|----------:|-------------------:|-----------------:|
| 2008-12-27 00:00:00 |                 0.996 |                   0.066 |    244.81 |                4   |             0.06 |
| 2008-12-27 00:00:00 |                 1.076 |                   0.162 |    244.78 |                4.4 |             0.06 |
| 2008-12-27 00:00:00 |                 1.064 |                   0.172 |    244.74 |                4.4 |             0.06 |
| 2008-12-27 00:00:00 |                 1.07  |                   0.174 |    245.28 |                4.4 |             0.06 |
| 2008-12-27 00:00:00 |                 0.804 |                   0.184 |    246.3  |                3.4 |             0.06 |
Taille 449667

8

Global_active_power        0.254
Global_reactive_power      0.000
Voltage                  238.100
Global_intensity           1.200
Sub_metering_1             0.060
Name: 2007-02-16 00:00:00, dtype: float64

9

Date avec Global_active_power maximal : 2009-02-22 00:00:00

10

| Date                |   Global_active_power |   Global_reactive_power |   Voltage |   Global_intensity |   Sub_metering_1 |
|:--------------------|----------------------:|------------------------:|----------:|-------------------:|-----------------:|
| 2008-08-28 00:00:00 |                 0.076 |                       0 |    234.88 |                0.2 |             0.06 |
| 2008-08-28 00:00:00 |                 0.076 |                       0 |    235.18 |                0.2 |             0.06 |
| 2008-08-28 00:00:00 |                 0.076 |                       0 |    235.4  |                0.2 |             0.06 |
| 2008-08-28 00:00:00 |                 0.076 |                       0 |    235.64 |                0.2 |             0.06 |
| 2008-08-12 00:00:00 |                 0.076 |                       0 |    236.5  |                0.2 |             0.06 |

11


Moyenne journalière de Global_active_power :
2006-12-16    3.053475
2006-12-17    2.354486
2006-12-18    1.530435
2006-12-19    1.157079
2006-12-20    1.545658
                ...
2010-11-22    1.417733
2010-11-23    1.095511
2010-11-24    1.247394
2010-11-25    0.993864
2010-11-26    1.178230
Name: Global_active_power, Length: 1433, dtype: float64

In [13]:
#Exercise 3
import pandas as pd
import numpy as np

path="data/Ecommerce_purchases.txt"
df= pd.read_csv(path, sep=",", low_memory=False)


#1
print("\n1\n")
print("Number of rows: ", df.shape[0])
print("Number of columns: ", df.shape[1])

#2 
print("\n2\n")
average_purchase_price=df['Purchase Price'].mean()
print("verage Purchase Price: ", average_purchase_price)

#3
print("\n3\n")
highest_purchase_prices=df['Purchase Price'].max()
lowest_purchase_prices=df['Purchase Price'].min()
print("Highest_purchase_prices: ", highest_purchase_prices)
print("Howest_purchase_prices: ", lowest_purchase_prices)

#4
print("\n4\n")
langage= df['Language'][df['Language']=="en"]
print("People have English 'en' as their Language of choice on the website: ", len(langage))

#5
print("\n5\n")
job= df['Job'][df['Job']=="Lawyer"]
print("People have the job title of Lawyer : ", len(job))

#6
print("\n6\n")
am= df['AM or PM'][df['AM or PM']=="AM"]
pm= df['AM or PM'][df['AM or PM']=="PM"]
print("People made the purchase during the AM : ", len(am))
print("People made the purchase during the PM : ", len(pm))

#7
print("\n7\n")
print(df['Job'].value_counts()[:5])
print("data", data.columns)
#8
print("\n8\n")

search_line=df[df['Lot']=="90 WT"]

print("Purchase Price for this transaction : ", search_line['Purchase Price'].values[0])

#9
print("\n9\n")
credit_card_number = 4926535242672853
email = df.loc[df['Credit Card'] == credit_card_number, 'Email']
print("The email of the person with the following Credit Card Number 4926535242672853 : ", email.values[0])

#10
print("\n10\n")
df_tmp= df[(df['CC Provider'] == "American Express") & (df['Purchase Price']> 95)]
print("People have American Express as their Credit Card Provider and made a purchase above $95: ", len(df_tmp))

#11
print("\n11\n")
count = df[df['CC Exp Date'].apply(lambda x: x.split('/')[1] == '25')].shape[0]
print("People have a credit card that expires in 2025: ", count)

#11
print("\n12\n")
top_providers = df['Email'].apply(lambda x: x.split('@')[1]).value_counts().head(5)
print("Top 5 most popular email providers\n: ",  top_providers )

1

Number of rows:  10000
Number of columns:  14

2

verage Purchase Price:  50.347302

3

Highest_purchase_prices:  99.99
Howest_purchase_prices:  0.0

4

People have English 'en' as their Language of choice on the website:  1098

5

People have the job title of Lawyer :  30

6

People made the purchase during the AM :  4932
People made the purchase during the PM :  5068

7

Job
Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: count, dtype: int64
data Index(['Global_active_power', 'Global_reactive_power', 'Voltage',
       'Global_intensity', 'Sub_metering_1'],
      dtype='object')

8

Purchase Price for this transaction :  75.1

9

The email of the person with the following Credit Card Number 4926535242672853 :  bondellen@williams-garza.com

10

People have American Express as their Credit Card Provider and made a purchase above $95:  39

11

People have a credit card that expires in 2025:  1033

12

Top 5 most popular email providers
:  Email
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: count, dtype: int64

In [14]:
#Exercise 4
import pandas as pd
import numpy as np

path="data/iris.txt"
df= pd.read_csv(path, sep=",", low_memory=False)
df.drop(columns=['flower'], inplace= True)

#1

for column in df.columns:
        df[column] = pd.to_numeric(df[column], errors='coerce')

print(df.describe())
print("\n\n")

df['sepal_length'].fillna(df['sepal_length'].mean(), inplace=True)  
df['sepal_width'].fillna(df['sepal_width'].median(), inplace=True)    
df['petal_length'].fillna(0, inplace=True)                           
df['petal_width'].fillna(0, inplace=True)                         


#2

for column in df.columns:
        df[column].fillna(df[column].median(), inplace=True)

print(df.describe())

#Bonus

# Trouver une ligne spéciale
special_row = df[(df['sepal_length'] > 7) & (df['petal_length'] == 0)]
print("\nspecial rows\n", special_row.head(1))

#Trouver un sepal_length élevé avec une petal_length de 0 pourrait signaler un cas atypique ou erroné. 
#Cela pourrait indiquer des données potentiellement incorrectes, car on pourrait s'attendre à ce qu'une 
#fleur avec un grand sépale ait également des pétales de longueur non nulle.

       sepal_length  sepal_width  petal_length  petal_width
count    146.000000   141.000000    120.000000   147.000000
mean      56.907534    52.625532     15.529167    12.026531
std      572.222221   417.127170    127.459631   131.873447
min       -4.400000    -3.600000     -4.800000    -2.500000
25%        5.100000     2.800000      2.725000     0.300000
50%        5.750000     3.000000      4.500000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max     6900.000000  3809.000000   1400.000000  1600.000000



       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean      56.907534    49.648000     12.423333    11.786000
std      564.489133   404.506037    114.078057   130.550042
min       -4.400000    -3.600000     -4.800000    -2.500000
25%        5.100000     2.800000      1.300000     0.225000
50%        5.800000     3.000000      4.000000     1.300000
75%        6.500000     3.300000      4.975000     1.800000
max     6900.000000  3809.000000   1400.000000  1600.000000

special rows
      sepal_length  sepal_width  petal_length  petal_width
100     56.907534          3.3           0.0          2.5